/* COLORS --- */
$bodyColor: rgba(32,48,55,.7);
$activeColor: #203037;
$brandColor: #75bb64;
$subtitleColor: #218599;
$linkColor: #218599;
$linkHoverColor: #14505c;
$cardColor: #2b3f49;


$inputColor: #247377;
$inputFocusBorderColor: #67bfb4;
$labelColor: #647882;
$placeholderColor: #ababab;
$primaryButtonBackgroundColor: #75bb64;
$primaryButtonHoverBackgroundColor: darken($primaryButtonBackgroundColor, 15%);
$secondaryButtonBorderColor:#b0bfc8;
$secondaryButtonHoverBackgroundColor: #647882;

/* BACKGROUNDS --- */
$bodyBackground: #f4f5f5;
$contrastBackground: #2b3f49;

/* BORDERS & SEPARATORS --- */
$borderColor: #b0bfc8; 
$altHR: #bce7ee;