/* FONT FAMILIES --- */
$baseFontFamily:    Gotham Narrow A,Gotham Narrow B,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
$titleFontFamily:   Sentinel A,Sentinel B,Times New Roman,serif;
$headerFontFamily:  Mercury Display A,Mercury Display B,Times New Roman,serif;

/* COLORS --- */
$bodyColor: rgba(32,48,55,.7);
$activeColor: #203037;
$brandColor: #75bb64;
$subtitleColor: #218599;

/* PADDING / SPACING / MARGINS --- */
$sectionPadding: 3rem 2rem;